
.breed__link {
	font-size: 15px;
    display: inline-block; /* чтобы элементы выстраивались в ряд */
    padding: 5px 10px; /* внутренние отступы для оформления */
    margin: 5px; /* отступы между ссылками */
    color: #fff; /* цвет текста */
    background-color: #4a90e2; /* цвет фона */
    border: 2px solid transparent; /* начальная граница */
    border-radius: 5px; /* скругления углов */
    text-decoration: none; /* убираем подчеркивание */
    transition: all 0.3s ease; /* плавные переходы для анимаций */
}

.breed__link:hover {
    border-color: #8e44ad; /* цвет границы при наведении */
    background-color: #5a9bd6; /* более светлый цвет фона при наведении */
    transform: scale(1.05); /* легкое увеличение при наведении */
}

/* Дополнительный стиль для контенера со ссылками, чтобы отцентрировать */
.breed__sort {
    display: flex;
    align-items: center;
    padding: 20px; /* Отступы вокруг списка пород */
    transition: transform 0.3s ease;
}

.breed__sort_container {
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 10px 0px;
}

.breed__prev,
.breed__next {
    background-color: #f1f1f1; /* Цвет фона кнопки */
    border: none; /* Убираем стандартные границы */
    border-radius: 5px; /* Скругление углов */
    padding: 10px; /* Внутренние отступы */
    cursor: pointer; /* Указывает на то, что зона кликабельная */
    transition: background-color 0.3s; /* Плавный переход цвета фона при наведении */
    font-size: 1.5rem; /* Размер шрифта для иконки */
}

.breed__next,
.breed__prev {
    position: absolute;
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Сдвигаем на половину высоты кнопки для точного центрирования */
    background-color: rgba(255, 255, 255, 0.8); /* Пример фона для кнопок */
    border: none; /* Убираем рамку */
    padding: 10px; /* Добавляем отступы для кнопок */
    cursor: pointer; /* Указываем, что это кнопки */
    z-index: 10; /* Убедитесь, что кнопки находятся поверх других элементов */
}

.breed__next {
    position: absolute; /* Устанавливаем абсолютное позиционирование для кнопки "вперед" */
    right: -10px; /* Сдвигаем кнопку вправо */
}

.breed__prev {
    left: -10px; /* Сдвигаем кнопку влево */
}

.breed__prev:hover,
.breed__next:hover {
    background-color: #ddd; /* Цвет фона при наведении */
}

.breed__prev:focus,
.breed__next:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Добавляем тень при фокусе для большей заметности */
}


