
.breed__link {
	font-size: 13px;
    display: inline-block; /* чтобы элементы выстраивались в ряд */
    padding: 5px 10px; /* внутренние отступы для оформления */
    margin: 5px; /* отступы между ссылками */
    color: #fff; /* цвет текста */
    background-color: #4a90e2; /* цвет фона */
    border: 2px solid transparent; /* начальная граница */
    border-radius: 5px; /* скругления углов */
    text-decoration: none; /* убираем подчеркивание */
    transition: all 0.3s ease; /* плавные переходы для анимаций */
}

.breed__link:hover {
    border-color: #8e44ad; /* цвет границы при наведении */
    background-color: #5a9bd6; /* более светлый цвет фона при наведении */
    transform: scale(1.05); /* легкое увеличение при наведении */
}

/* Дополнительный стиль для контенера со ссылками, чтобы отцентрировать */
.breed__sort {
    display: flex;
    align-items: center;
    padding: 20px; /* Отступы вокруг списка пород */
}

.breed__sort_container {
    display: flex;
    overflow: hidden;
    margin: 10px 0px;
}

.breed__prev,
.breed__next {
    background-color: #f1f1f1; /* Цвет фона кнопки */
    border: none; /* Убираем стандартные границы */
    border-radius: 5px; /* Скругление углов */
    padding: 10px; /* Внутренние отступы */
    cursor: pointer; /* Указывает на то, что зона кликабельная */
    transition: background-color 0.3s; /* Плавный переход цвета фона при наведении */
    font-size: 1.5rem; /* Размер шрифта для иконки */
}

.breed__prev:hover,
.breed__next:hover {
    background-color: #ddd; /* Цвет фона при наведении */
}

.breed__prev:focus,
.breed__next:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Добавляем тень при фокусе для большей заметности */
}


