/* 
.breed__sort {
	padding: 12px 16px;
	box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
	border-radius: 12px;
	background: #FFFFFF;
	display: flex;
	align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
	gap: 16px;
	margin: 5px 5px;
}

.breed__link {
    display: inline-block; 
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: #7B8E98;
    transition: background-color 0.3s; 
}

.breed__link:hover {
	color: #1A1A1A;
} */

.breed__link {
	font-size: 13px;
    display: inline-block; /* чтобы элементы выстраивались в ряд */
    padding: 5px 10px; /* внутренние отступы для оформления */
    margin: 5px; /* отступы между ссылками */
    color: #fff; /* цвет текста */
    background-color: #4a90e2; /* цвет фона */
    border: 2px solid transparent; /* начальная граница */
    border-radius: 5px; /* скругления углов */
    text-decoration: none; /* убираем подчеркивание */
    transition: all 0.3s ease; /* плавные переходы для анимаций */
}

.breed__link:hover {
    border-color: #8e44ad; /* цвет границы при наведении */
    background-color: #5a9bd6; /* более светлый цвет фона при наведении */
    transform: scale(1.05); /* легкое увеличение при наведении */
}

/* Дополнительный стиль для контенера со ссылками, чтобы отцентрировать */
.breed__sort {
    padding: 20px; /* Отступы вокруг списка пород */
    border-right: 2px solid #ddd; /* Разделительная линия между породами и карточками */
}